body{
	width: 50%;
}

.container{
	width: 560px;
	margin-left: 400px;
}

form{
	background: rgba(213,149,149, 0.5);
	padding-left: 50px;
}
form h1{
	color: rgba(0,0,0,0.6);
	padding-bottom: 20px;

}
.form-check-label{
	display: flex;
}

.form-check-input{
	margin: 20px;
}