
.App {
  background-color: #282c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
/*     color: #CCC8C8; */
}

.todo-menu{
  background: #E5E8EF;
  margin-top: 30px;
}
h2{
  margin: 0px;
  padding-top: 10px;
  color: rgba(0,0,0, 0.7);
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
