body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.menu-wrapper{
    margin-top: 10px;
}
.navbar {
  background: rgb(220, 220, 220);
  border: 1px solid #EDE8EF;
  font-size: 17px;
}
.User-card{
  margin: 20px;
  color: #fff;
}

.User-card h3 {
  margin-left: 300px;
  padding: 5px;
}
.user-card-wrapper img{
   border-radius: 50%;
   width: 50px;
   height: 95px;
   justify-content: center;
}
.user-card-wrapper p{
   justify-content: right;
}
.user-card-wrapper{
  background: rgba(220, 220, 220, 0.3);
  display: flex;
  font-size: 11px;
  margin: 10px  10px;
  padding: 20px;
  border-radius: 8px;
}

.user-card-wrapper ul{
  padding-top: 10px;
}
.user-card-wrapper li {
    list-style: none;
}
.user-card-wrapper .city {
   color: orange;
}
.user-card-wrapper .btn{
  height: 30px;
  padding: 5px;
  margin-top: 30px;
}

/* todo card style..............................................###########################################*/

.todo-card{
  color: #fff;
  margin-top: 25px;
  margin-bottom: 10px
}

.todo-user{
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 20px;
  color: #C09600;
}

.user-id{
  padding: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}

.todo-card-wrapper{
  background: rgba(220, 220, 220, 0.7);
  display: flex;
  font-size: 11px;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 8px;
}

.todo-card-wrapper li {
    list-style: none;
    margin-left: 0px;
}
.todo-status{
  flex: 1;
}

.green{
  background: green;
  padding: 5px;
  margin-left: auto;
  order: 2;
  position: relative;
  border: 1px dashed #fff;
  border-radius: 7px
}

.red{
  background: #CC0010;
  padding: 5px;
 margin-left: auto;
  order: 2;
  position: relative;
  border: 1px dashed rgba(200, 200, 200, 0.5);
  border-radius: 7px;
}
@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/*{/*  




        /*<div className="col-md-12">
          <div className="col-md-8">
            <UserCard users={this.state.users} getTodo={this.getTodo}/>
          </div>
          <div className="col-md-4 float-right">
            <TodoCard todos={this.state.todos}/>
          </div>
        </div>*/